/.vs
.tmp
scripts/baw-prerequisites/*
scripts/cp4ba-prerequisites/*
scripts/cp4ba-upgrade/*
.idea
.DS_Store
.vscode/*
scripts/generated-cr/*
scripts/jdbc*
scripts/.bak
scripts/cp4a-script-logs/*
scripts/baw-script-logs/*
*.log
network_cidr
network_type
operators_namespace
services_namespace